<h1>Recipe Edit Form:</h1>

<%=  form_for @recipe do |f| %>
<%= f.label :name %>:
 <%= f.text_field :name %><br />
<% if !Ingredient.all.nil? %>
    <% Ingredient.all.each do |ingredient| %>
    <p><%=ingredient.name %></p> <%= f.check_box :ingredients, {multiple: true, id: ingredient.name}, ingredient.id, false %>
    <% end %>
  <% end  %>

  <%= f.submit %>
  <% end  %>
